<h1>Iniciar Sesión</h1>

<form action="/users/login" method="post">
	<input type="text" name="username" placeholder="Username"><br>
	<input type="text" name="password" placeholder="Password"><br><br>
	<input type="submit" value="Iniciar Sesión">
</form>