<h1>Registrarse</h1>

<form action="/users/register" method="post">
	<input type="text" name="username" placeholder="Username"><br>
	<input type="text" name="password" placeholder="Password"><br><br>
	<input type="submit" value="Registrarse">
</form>